{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div id="app">
            <Profile />
        </div>
        {{ encore_entry_script_tags('app') }}
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/plugins/jqueryui/js/jquery-ui.min.js"></script>
    <script src="/plugins/moment/moment.min.js"></script>
{% endblock %}
