{% extends 'base.html.twig' %}

{% block title %}My Activities · Gym-Morrison{% endblock %}

{% block body %}
    {{ parent() }}
    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div id="app">
            <all-activities />
        </div>
        {{ encore_entry_script_tags('app') }}
    </div>
    <!--**********************************
        Content body end
    ***********************************-->
    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <span class="text-primary">Gym-Morrison</span> 2020</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->

{% endblock %}