{% extends 'index.html.twig' %}

    {% block stylesheets %}
       {{ parent() }}
    {% endblock %}

    {% block body %}
    {{ parent() }}
        <main role="main mt-5">
            <div>
                <div class="box gradient-1 mb-5 pt-5" style="padding-bottom: 10em;">
                    <div class="container">
                        <!-- Three columns of text below the carousel -->
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="text-white">THE ONLINE MANAGED GYM</h1>
                            </div>
                        </div>
                        <div class="row text-center mt-5">
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-settings"></i></span>
                                <h2 class="text-white">Self-managed</h2>
                                <p>You choose everything. Your activities, your teacher, your time.</p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-credit-card"></i></span>
                                <h2 class="text-white">Subscription</h2>
                                <p>You can change your subscription time anytime, ready for your needs, no paperwork needed.</p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-energy"></i></span>
                                <h2 class="text-white">Multi-room</h2>
                                <p>Fitness cardiovascular, Body building and Functional training.</p>
                            </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                    </div>
                </div>

                <div class="container">
                    <div style="top: -10em; position: relative;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-running"></i></h1>
                                        Join Activities
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-calendar-alt"></i></h1>
                                        Plan dates for your trainings
                                    </div>                                    
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-globe"></i></h1>
                                        Internationally
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-mobile-alt"></i></h1>
                                        Compatible with smartphone, tablet & computer
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-credit-card"></i></h1>
                                        Multiple payment subscriptions
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 id="subscription">Subscription</h1>
                        <div class="card-deck mb-3 text-center">
                            <div class="card mb-4 shadow">
                                <div class="card-header">
                                    <h2 class="my-0 mb-2">1 Month</h2>
                                    <h3 class="gradient-1 rounded p-3 text-white">20€</h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">20€ <small class="text-muted">/ mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><b>30</b> Days of subscription</li>
                                        <li>Access to web</li>
                                        <li>Join activities</li>
                                        <li>Manage subscription</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card mb-4 shadow">
                                <div class="card-header">
                                    <h2 class="my-0 mb-2">2 Months</h2>
                                    <h3 class="gradient-8 rounded p-3 text-white">35€</h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">17,5€ <small class="text-muted">/ mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><b>60</b> Days of subscription</li>
                                        <li>Access to web</li>
                                        <li>Join activities</li>
                                        <li>Manage subscription</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card mb-4 shadow">
                                <div class="card-header">
                                    <h2 class="my-0 mb-2">3 Months</h2>
                                    <h3 class="gradient-7 rounded p-3 text-white">50€</h3>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">16,6€ <small class="text-muted">/ mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li><b>90</b> Days of subscription</li>
                                        <li>Access to web</li>
                                        <li>Join activities</li>
                                        <li>Manage subscription</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Marketing messaging and featurettes
                        ================================================== -->
                        <!-- Wrap the rest of the page in another container to center all the content. -->

                        <div class="marketing">

                            <!-- START THE FEATURETTES -->
                            <h1 id="setup">Our Setup</h1>
                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7">
                                    <h2 class="featurette-heading">Custom <span class="text-primary"> Workout</span></h2>
                                    <p class="lead">Train with the best instructors in our gym. Experts in fitness, physical conditioning, motivation, coaching. Whatever your goal and fitness, with us you can always go further.</p>
                                </div>
                                <div class="col-md-5">
                                    <img class="img-responsive rounded shadow" src="images/home_img/home1.jpg" with="500px" height="500px"/>
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7 order-md-2">
                                    <h2 class="featurette-heading">Tailor-Made <span class="text-primary">Training</span></h2>
                                    <p class="lead">At Gym-Morrison you can enjoy a wide range of activities that we innovate to the maximum to surprise you and guide you, making you enjoy and have a passion for sports, making it integrate into a long and healthy life, also achieving your goals.</p>
                                </div>
                                <div class="col-md-5 order-md-1">
                                    <img class="img-responsive rounded shadow" src="images/home_img/home2.jpg" with="500px" height="500px"/>
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7">
                                    <h2 class="featurette-heading">Our exercise <span class="text-primary"> Routine</span></h2>
                                    <p class="lead">Our exercise routine will allow you to achieve a better toning of the body, thus making it possible to considerably increase your attractiveness. Also, from the first moment you will see an increase in the level of strength and endurance. But the most important thing is to maintain a healthy life based on healthy lifestyle habits, a balanced diet and the practice of physical exercise.</p>
                                </div>
                                <div class="col-md-5">
                                    <img class="img-responsive rounded shadow" src="images/home_img/home3.jpg" with="500px" height="500px"/>
                                </div>
                            </div>
                            
                            <hr class="featurette-divider "><!-- /.END THE FEATURETTES -->
                        </div><!-- /.END MARKETING -->
                        
                                   
                        <div class="container"><!-- /CONTACT -->
                            <div class="card">
                                <div class="card-body">
                                    <h2>Where we are</h2>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <iframe width="100%" height="350" src="https://maps.google.com/maps?width=100%&height=350&hl=es&q=6690%20Eagle%20Nest%20Ln+(Gym%20Morrison)&ie=UTF8&t=&z=15&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h1 id="contact" class="text-primary">Contact</h1>
                                                    <address class="font-medium">
                                                        <strong>Gym-Morrison</strong><br>
                                                        6690 Eagle Nest Ln<br>
                                                        Miami Lakes<br>
                                                        Florida<br>
                                                        EEUU<br>
                                                        FL 33014H<br>
                                                        <abbr title="Phone">P:</abbr> 01234 567 890
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>    
                        </div><!-- /.END CONTACT -->

                    </div><!-- /.div style="top" -->
                </div><!-- /.container -->
            </div>    
                <!-- FOOTER -->
                <footer class="container">
                    <hr class="featurette-divider">
                    <p class="float-right"><a href="#">Back to top</a></p>
                    <p>Gym-Morrison &copy; 2020 &middot; <a href="https://www.termsfeed.com/live/6dfddffe-cb23-4b17-a064-8f32981f7233" target="_blank">Privacy</a></p>
                </footer>
            
        </main>

    {% endblock %}

    {% block javascripts %}
        <!--**********************************
            Scripts
        ***********************************-->
        <script type="text/javascript" id="cookieinfo"
                src="//cookieinfoscript.com/js/cookieinfo.min.js"
                data-bg="#645862"
                data-fg="#FFFFFF"
                data-link="#F1D600"
                data-cookie="CookieInfoScript"
                data-text-align="left"
                data-close-text="Got it!">
        </script>
        <script src="/plugins/common/common.min.js"></script>
        <script src="/js/custom.min.js"></script>
        <script src="/js/settings.js"></script>
        <script src="/js/gleek.js"></script>
        <script src="/js/styleSwitcher.js"></script>
    {% endblock %}