{% extends 'index.html.twig' %}

    {% block stylesheets %}
       {{ parent() }}
    {% endblock %}

    {% block body %}
    {{ parent() }}

        <main role="main mt-5">

            <div>
                <div class="box gradient-1 mb-5 pt-5" style="padding-bottom: 10em;">
                    <div class="container">
                        <!-- Three columns of text below the carousel -->
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="text-white">THE ONLINE MANAGED GYM</h1>
                            </div>
                        </div>
                        <div class="row text-center mt-5">
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-settings"></i></span>
                                <h2 class="text-white">Self-managed</h2>
                                <p>You choose everything. Your activities, your teacher, your time.</p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-credit-card"></i></span>
                                <h2 class="text-white">Subscription</h2>
                                <p>You can change your subscription time anytime, ready for your needs, no paperwork needed.</p>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                                <span class="display-1"><i class="icon-energy"></i></span>
                                <h2 class="text-white">Multi-room</h2>
                                <p>Fitness cardiovascular, Body building and Functional training.</p>
                            </div><!-- /.col-lg-4 -->
                        </div><!-- /.row -->
                    </div>
                </div>
                <div class="container">
                    <div style="top: -10em; position: relative;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-running"></i></h1>
                                        Join Activities
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-calendar-alt"></i></h1>
                                        Plan dates for your trainings
                                    </div>                                    
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-globe"></i></h1>
                                        Internationally
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-mobile-alt"></i></h1>
                                        Compatible with smartphone
                                    </div>
                                    <div class="col text-center">
                                        <h1 class="text-primary"><i class="fas fa-credit-card"></i></h1>
                                        Multiple payment suscriptions
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                    </div>
                </div>

                <hr class="featurette-divider">

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->


            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>Gym-Morrison &copy; 2020 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>

    {% endblock %}

    {% block javascripts %}
        <!--**********************************
            Scripts
        ***********************************-->
        <script src="/plugins/common/common.min.js"></script>
        <script src="/js/custom.min.js"></script>
        <script src="/js/settings.js"></script>
        <script src="/js/gleek.js"></script>
        <script src="/js/styleSwitcher.js"></script>
    {% endblock %}